.card5>.bg-image {

    background-image: url("./Images/prof.jpeg");
    /* filter: blur(2px); */
    min-height: 800px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card5>.bg-text {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    min-width: 100%;
    min-height: 100%;
    padding: 20px;
    text-align: center;
}
.card5>.p-details>.pro-skills{
    margin-top: -30px;
}
.card5>.p-details>.pro-skills>.pro-skill1>.dd>.bg-len{
    background-color: green;
}
.card5>.p-details>.pro-skills>.pro-skill1>.p-percentage{
    opacity: 0;
    animation-name: p-percentage;
    /* /* animation-timeline: view(); */
    animation-fill-mode: forwards;
    animation-duration: 2s;
}
.progress .python{
    animation-name: python;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
}
.progress .django{
    animation-name: djn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
}
.progress .mangodb{
    animation-name: mdb;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
}
.progress .js{
    animation-name: js;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
}
.progress .bootstrap{
    animation-name: bs;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
}
.progress .htmlcss{
    animation-name: htmcs;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    /* animation-timeline: view(); */
}
@keyframes python {
    from{
        width: 0%;
    }
    to{
        width: 75%;
    }
}
@keyframes djn {
    from{
        width: 0%;
    }
    to{
        width: 80%;
    }
}
@keyframes mdb {
    from{
        width: 0%;
    }
    to{
        width: 70%;
    }
}
@keyframes js {
    from{
        width: 0%;
    }
    to{
        width: 65%;
    }
}
@keyframes bs {
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}
@keyframes htmcs {
    from{
        width: 0%;
    }
    to{
        width: 95%;
    }
}
.card5>.p-details>.pro-heading>.p-head{
    font-family: "Anton", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 65px;
}